<div class="main-container">
<div class="input-container">
  <div class="method-container">
  <label for="method">Method</label>
  <select id="method" [(ngModel)]="selectedMethod" [ngClass]="selectClass" (change)="onMethodChange()">
    <option value="GET" class="option-get">GET</option>
    <option value="POST" class="option-post">POST</option>
    <option value="PUT" class="option-put">PUT</option>
    <option value="DELETE" class="option-delete">DELETE</option>
  </select>
</div>
<div class="url-container">
  <input type="text" placeholder="ingrese una url" [(ngModel)]="requestUrl">
  <button type="button" (click)="compare()">Comparar</button>
</div>
</div>

<div class="postman-component">
  <div class="tab-header">
    <button class="tab-button" [ngClass]="{'active': activeTab === 'HEADERS'}" (click)="activateHeadersTab()">Headers</button>
    <button class="tab-button" [ngClass]="{'active': activeTab == 'BODY' }" (click)="activateBodyTab()">Body</button>
    <button class="tab-button" [ngClass]="{'active': activeTab === 'TESTS'}" (click)="activateTestsTab()">Tests</button>
    <button class="tab-button" [ngClass]="{'active': activeTab === 'SETTINGS'}" (click)="activateSettingsTab()">Settings</button>

  </div>
  <div class="tab-content" *ngIf="activeTab === 'HEADERS'">
  <app-headers-selection (selectedHeaders)="changeHeaders($event)"></app-headers-selection>
  </div>
  <div class="tab-content" *ngIf="activeTab === 'BODY'">
  <div class="body-section">
    <h2>Body</h2>
    <textarea [(ngModel)]="body" placeholder="Ingrese el body de la solicitud"></textarea>
  </div>
  </div>
  <div class="tab-content" *ngIf="activeTab === 'TESTS'">
    <app-headers-selection (selectedHeaders)="changeHeaders($event)"></app-headers-selection>
    <app-tests-section [inputHeaders]="inputHeaders"></app-tests-section>
  </div>
  <div class="tab-content" *ngIf="activeTab === 'SETTINGS'">
    <app-request-settings></app-request-settings>
  </div>
  <app-json-comparator></app-json-comparator>
</div>
</div>
